.header__img{
    margin-block: 20px;

    width: 100vw;
    height: 100px;

    background-image: url('../images/harry-potter-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}