$base-color: #c2c2c2;
$card-color: #a67c00;
$white-color: #fff;

//Color variables for the different houses.
$gryffindor: #800020;
$slytherin: #304f3f;
$hufflepuff: #a67c00;
$ravenclaw: #005f9d;